.swiper-pagination-bullet-active, .swiper-pagination-bullet {
  background: transparent !important;
}
.swiper-pagination {
  position: static !important;
  transform: translate3d(0, 0, 0) !important;
  width: 100% !important;
  height: auto!important;
  grid-row: 2;
  grid-column: 1;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}
.swiper-pagination div{
  width: 100% !important;
  text-align: left;
  margin: 0 !important;
}
.swiperContent .swiper-wrapper {
  grid-column: 2;
  justify-self: var(--item1-align, start);
  grid-row: span 4;
  width: 100% !important;
  height: 400px !important;
}

.progressRing {
  @apply w-[22px] h-[22px] flex justify-center items-center shrink-0;
  transform: rotate(-90deg);
}
.circleProgress {
  animation: progress 3s linear forwards;
}
@keyframes progress {
  0% {
    stroke-dashoffset: 75;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.swiper-pagination-bullet, .swiper-pagination-bullet-active {
  opacity: 1!important;
}

.swiper-pagination-bullet p::before {
  display: inline-block;
  height: 22px;
  flex-shrink: 0;
  width: 22px;
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2IDhDMTYgMTIuNDE4MyAxMi40MTgzIDE2IDggMTZDMy41ODE3MiAxNiAwIDEyLjQxODMgMCA4QzAgMy41ODE3MiAzLjU4MTcyIDAgOCAwQzEyLjQxODMgMCAxNiAzLjU4MTcyIDE2IDhaTTIuOTA2NTggOEMyLjkwNjU4IDEwLjgxMyA1LjE4Njk4IDEzLjA5MzQgOCAxMy4wOTM0QzEwLjgxMyAxMy4wOTM0IDEzLjA5MzQgMTAuODEzIDEzLjA5MzQgOEMxMy4wOTM0IDUuMTg2OTggMTAuODEzIDIuOTA2NTggOCAyLjkwNjU4QzUuMTg2OTggMi45MDY1OCAyLjkwNjU4IDUuMTg2OTggMi45MDY1OCA4WiIgZmlsbD0id2hpdGUiIGZpbGwtb3BhY2l0eT0iMC4xIi8+Cjwvc3ZnPg==");
  border-radius: 50%;
}
.swiper-pagination-bullet .progressRing {
  display: none;
}
.swiper-pagination-bullet-active .progressRing {
  display: flex;
}
.swiper-pagination-bullet-active p::before {
  display: none;
}
.swiper-pagination-bullet span {
  color: rgba(255, 255, 255, 0.9)!important;
}
.swiper-pagination-bullet-active span {
  color: #6E52FF!important;
}