.swipeContentContainer {
  @apply hidden xl:block w-full rounded-[16px] pl-[46px] py-[96px];
  background: rgba(255, 255, 255, 0.06);
}
.mobileSwipeContainer {
  @apply xl:hidden w-full rounded-[8px] flex flex-col items-center gap-[20px] p-[16px];
  background: rgba(255, 255, 255, 0.06);
}
.swipeText {
  @apply flex flex-col gap-[16px] items-start w-full;
  @apply xl:gap-[32px] xl:w-[596px];
}
.swipeText h1 {
  @apply font-[700] text-[20px] leading-[24px] text-white-01 overflow-ellipsis line-clamp-1;
  @apply xl:text-[40px] xl:leading-[48px];
}
.swipeDescList {
  @apply flex flex-col gap-[8px] items-start;
  @appy xl:gap-[16px];
  height: auto !important;
}
.swipeDesc {
  @apply w-full flex flex-row gap-[8px] items-start font-[400] text-[12px] leading-[16px] text-white-02;
  @apply xl:text-[14px] xl:leading-[22px];
}
.mobileSwipeDesc::before {
  @apply bg-white-02 leading-[16px] block rounded-[50%] h-[5px] w-[5px] shrink-0;
  content: '';
  transform: translateY(100%);
}

.progressRing {
  @apply w-[16px] h-[16px];
  transform: rotate(-90deg);
}
.swipeImage {
  @apply w-full rounded-t-[10px] rounded-r-[10px] min-h-[150px];
  @apply xl:h-[400px] xl:w-[516px] xl:px-0 xl:rounded-[0];
  background: url('/img/contentBackground.svg') no-repeat;
  background-size: 100% auto;
}
.lottieBg {
  background: url('/img/lottieBg.svg') no-repeat;
}
.swiperContainer {
  display: grid !important;
  grid-template-columns: 596px 516px;
  @apply w-full h-[400px] overflow-hidden auto-rows-min gap-x-[40px] gap-y-[32px];
}
.swipeText {
  height: auto;
  grid-row: 1;
  grid-column: 1;
}
