.switchContainerStyle {
  @apply p-[2px] flex items-center rounded-[32px] border-[1px] border-solid border-white-09 gap-[2px];
  background: linear-gradient(
    180deg,
    rgba(233, 233, 255, 0.04) 0%,
    rgba(118, 118, 121, 0.25) 100%
  );
  backdrop-filter: blur(13.370903968811035px);
}

.baseSwitchItemStyle {
  @apply flex w-[308px] px-[18px] py-[20px] justify-center items-center gap-[15px] rounded-[32px] cursor-pointer;
  @apply text-white-01 text-[16px] font-[500] leading-[24px];
}
.activeItemStyle {
  @apply bg-tech-purple-01;
}
.notActiveStyle {
  box-shadow: 0px 3px 6px 0px rgba(26, 34, 51, 0.04);
}

.lineStyle {
  @apply w-[1.5px] h-[18px] rounded-[1.5px] bg-white/[0.1];
}
