
/*-------*/
.commBottomContainer {
  @apply flex flex-col justify-center items-center gap-[8px] w-full relative rounded-b-[20px] pt-[60px] pb-[40px] px-[20px];
  @apply xl:rounded-b-[40px] xl:pt-[120px] xl:pb-[80px] xl:px-[120px] xl:h-[410px];
}
.commBottomBtnBg {
  @apply absolute w-full  z-[-1] bottom-0 rounded-b-[20px];
}
.bottomBg {
  background: linear-gradient(180deg, rgba(101, 74, 236, 0) 0%, rgba(101, 74, 236, 0.5) 100%);
}
.whiteBottomBg {
  background: linear-gradient(180deg, rgba(81, 106, 181, 0) 0%, rgba(81, 106, 181, 0.08) 100%);
}
.commBottomTitle {
  @apply font-[700] text-[20px] leading-[24px] text-white-01 text-center;
  @apply xl:text-[40px] xl:leading-[48px];
}
.bottomTitle {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5) 0%,
    #ffffff 50%,
    rgba(255, 255, 255, 0.5) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.whiteBottomTitle {
  background: linear-gradient(90deg, rgba(11, 12, 15, 0.5) 0%, #0B0C0F 50%, rgba(11, 12, 15, 0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.commBottomDesc {
  @apply w-full  font-[400] text-[12px] leading-[16px] text-center overflow-ellipsis line-clamp-4;
  @apply  text-[14px] leading-[22px];
  @apply xl:w-[600px]
}
.commBottomBtn {
  @apply flex flex-row justify-center items-center gap-[10px] font-[500] text-[16px] leading-[28px]  rounded-[8px] cursor-pointer px-[32px] py-[10px] w-full;
  @apply xl:w-[320px]
}
.commBottomBtn svg {
  width: 16px;
}

/*---------*/
.partnerList {
  @apply w-full flex flex-row items-start gap-[8px] overflow-x-scroll mt-[-10px] py-[10px];
  @apply xl:gap-[16px];
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.partnerList::-webkit-scrollbar {
  @apply hidden
}
.partnerItemContainer {
  @apply flex flex-col items-center justify-center xl:w-[280px] w-[124px] rounded-[8px] py-[24px] shrink-0 cursor-pointer;
  @apply xl:rounded-[16px] xl:py-[48px];
  background: url('/img/partnerBg.svg')no-repeat;
  background-size: 100% auto ;
  transition: all 0.2s;
  will-change: transform;
}
.partnerItemContainer:first-of-type {
  @apply ml-[40px] xl:ml-[120px]
}
.partnerItemContainer:last-of-type {
  @apply mr-[40px] xl:mr-[120px]
}
.partnerItemContainer:hover {
  opacity: 0.8;
  transform: scale(1.05)
}
.partnerItem {
  @apply flex flex-col items-center gap-[32px] w-full h-full;
}
.partnerline {
  animation: progress 3s linear forwards;
}
@keyframes progress {
  0% {
    stroke-dashoffset: 75;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/*------*/
.faqContainer {
  @apply flex flex-col items-center gap-[24px] xl:gap-[48px] w-full;
}
.faqTitle {
  @apply font-[700] text-[24px] leading-[28px] text-center xl:text-[48px] xl:leading-[56px]
}
.faqListContainer {
  @apply w-full flex flex-col items-start lg:w-[800px]
}
.faqListQuestion {
  @apply w-full flex flex-row justify-between items-center px-[24px] py-[12px] gap-[16px] rounded-[2px] cursor-pointer rounded-t-[8px];
  @apply xl:rounded-t-[16px]
}
.faqListAnswer {
  @apply w-full font-[400] text-[14px] leading-[16px] xl:leading-[20px] flex items-center rounded-[2px] px-[24px] pb-[12px] bg-white/[0.08] whitespace-pre-line rounded-b-[8px];
  @apply xl:rounded-b-[16px]
}
.faqListAnswer a{
 @apply underline
}
.direction {
  @apply w-[12px] h-[12px];
}

/*------*/
.titleContainer {
  @apply hidden xl:flex h-screen  z-30 top-[80px] bg-black text-title grow-0 text-[40px] text-white-01 flex-col  items-center font-bold relative overflow-hidden;
}
.titlePurpleBtn {
  @apply h-[48px] w-[400px] bg-tech-purple-01 rounded-[8px] px-[32px] py-[10px] font-normal text-white-01 text-center hover:bg-tech-purple-02 active:bg-tech-purple-n-01;
}

/*------*/
.mainContent {
  @apply w-full flex flex-col justify-center items-center gap-[32px];
  @apply xl:gap-[64px];
}
.mainContentTitle {
  @apply font-[700] text-[24px] leading-[26px] text-white-01 text-center;
  @apply xl:text-[48px] xl:leading-[58px];
  background: linear-gradient(90deg, #a874ff 8.9%, #e65fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/*------*/
.benefitsContent {
  @apply flex flex-row justify-between items-start gap-[40px];
}
.mainLabel {
  @apply font-[700] text-[17px] leading-[21px] text-white-01;
  @apply xl:text-[32px] xl:leading-[39px];
}
.mainDesc {
  @apply font-[400] text-[12px] leading-[16px] text-white-02;
  @apply xl:text-[14px] xl:leading-[22px];
}

/*------*/
.templateContent {
  @apply xl:flex flex-row items-start xl:gap-[48px] grid grid-cols-2 gap-x-[12px] gap-y-[32px] w-full;
  grid-auto-rows: max-content;
}

