.cardContainer::-webkit-scrollbar {
  display: none;
}
.pricingMask {
  @apply w-full overflow-hidden absolute z-[-1] h-[2600px] bg-black xl:rounded-b-[40px]
}
.cardContainer {
  scrollbar-width: none;
  -ms-overflow-style: none;
  @apply w-full flex flex-row xl:flex-wrap items-center justify-start xl:gap-[16px] gap-[8px] overflow-x-scroll;
}
.pricingContainer {
  @apply w-full overflow-y-scroll;
  @apply overflow-hidden xl:h-[2600px];
}
.pricingMaskLeft {
  @apply w-[1155px] h-[453px] left-[-525px] top-[-40px] opacity-50;
  @apply hidden lg:block bg-tech-purple-01 absolute;
  filter: blur(238.125px);
}
.pricingMaskRight {
  @apply w-[824px] h-[453px] left-[1004px] top-[109px] opacity-30;
  @apply hidden lg:block bg-tech-purple-01 absolute;
  filter: blur(238.125px);
}
.pricingMaskPhone {
  @apply w-[630px] h-[415.69px] left-[-204px] top-[46.5\px] opacity-30 z-[-1];
  @apply block lg:hidden absolute;
  filter: blur(50px);
  transform: rotate(2.6deg);
  background: radial-gradient(37% 76.28% at 48.58% 50.06%, #654AEC 0%, rgba(101, 74, 236, 0) 100%) ;
}
.pricingContent {
  @apply flex flex-col justify-center items-center gap-[10px] w-full my-0 mx-auto;
  @apply xl:gap-[24px] lg:w-[1200px];
}
.pricingContentTitle {
  @apply font-[700] text-[40px] leading-[48px] justify-self-center;
  @apply xl:text-[64px] xl:leading-[72px];
  position: relative;
}
.pricingContentTitleTag {
  @apply hidden lg:inline-block gap-[8px] py-[3px] px-[16px] rounded-[20px] text-[14px] leading-[26px] text-center h-[32px] ml-[8px] ;
  background-color: rgba(169, 63, 253, 0.22);
  white-space: nowrap;
  position: absolute;
  bottom: 0;
}
.contentContainer {
  @apply flex flex-row gap-[2px] p-[1px] rounded-[4px];
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
.pricingContentBtn {
  @apply text-[14px] leading-[22px] flex items-center rounded-[3px] justify-center text-center w-[88px] h-[30px] cursor-pointer font-[400];
}
.pricingContentBtnActive {
  @apply bg-tech-purple-01 font-[500] filter-none
}
.cardContainer {
  @apply flex flex-row gap-[12px] xl:gap-[16px] w-full justify-start items-start mt-[16px] rounded-[16px];
  @apply lg:justify-center overflow-x-scroll overflow-y-hidden lg:w-[1400px] w-full;
}
.card {
  @apply w-[320px] h-[916px] flex flex-col gap-[24px] items-center rounded-[16px] pt-[32px] relative;
  @apply flex-shrink-0;
  background: linear-gradient(180deg, rgba(120, 56, 255, 0.12) 67.93%, rgba(204, 0, 255, 0) 100%);
}
.lightCard{
  @apply w-[320px] h-[916px] flex flex-col gap-[24px] items-center rounded-[16px] pt-[32px] relative cursor-pointer;
  @apply flex-shrink-0;
  background: linear-gradient(180deg, rgba(120, 56, 255, 0.4) 67.93%, rgba(204, 0, 255, 0) 100%);
}
.cardTitle {
  @apply flex flex-row items-start py-[7px] px-[16px] gap-[8px] rounded-[20px] font-[500] text-[18px] leading-[26px];
  background: rgba(169, 63, 253, 0.16);
}
.cardBtn {
  @apply flex flex-row items-center py-[10px] px-[32px] gap-[10px] font-[400] text-[16px] leading-[28px]  h-[48px] rounded-[8px] cursor-pointer;
}
.cardListTitle {
  @apply flex flex-row items-center py-[4px] px-[24px] gap-[8px] font-[600] text-[16px] leading-[24px] mt-[24px];
}
.cardListContent {
  @apply flex flex-row items-center gap-[8px] font-[400] text-[14px] leading-[24px];
}
.hiddenListContent {
  @apply lg:block hidden lg:py-[4px] lg:px-[24px] py-0 px-0 lg:h-[32px]
}
.blockListContent {
 @apply py-[4px] px-[24px]
}
.card:first-child {
  @apply ml-[32px] xl:ml-0;
}
.card:last-child {
  @apply mr-[32px] xl:mr-0;
}
.openSource {
  padding-top: 40px!important;
  @apply px-[20px] lg:px-0 pb-[100px];
}
.doubt {
  @apply cursor-pointer
}
.doubt:hover .tips{
  display: block;
}
.tooltip{
  @apply w-[200px] bg-tech-purple-01 flex fixed items-center text-white z-[20] text-[14px] leading-[22px];
  @apply flex-row justify-center items-center py-[8px] px-[12px] gap-[10px] rounded-[2px]
}
.tooltip::after {
  @apply absolute border-[5px] border-solid;
  content: " ";
  border-color:  transparent transparent #654AEC transparent;
}
.rightTip::after  {
  @apply left-[-5px];
  transform-origin: 0;
  transform: rotate(-90deg);
}
.bottomTip::after {
  @apply bottom-[100%] left-[67%] ml-[-5px]
}
.tipContent{
  word-break: break-all;
  white-space: normal
}
.faqContainer {
  @apply flex flex-col items-center gap-[24px] xl:gap-[48px] pb-[60px] xl:pb-[200px]
}
.faqTitle {
  @apply font-[700] text-[24px] leading-[28px] text-center xl:text-[48px] xl:leading-[56px]
}
.faqListContainer {
  @apply w-full flex flex-col items-start lg:w-[800px]
}
.faqListQuestion {
  @apply w-full flex flex-row justify-between items-center px-[24px] py-[12px] gap-[16px] rounded-[2px] cursor-pointer
}
.faqListAnswer {
  @apply w-full font-[400] text-[14px] leading-[16px] xl:leading-[20px] flex items-center rounded-[2px] px-[24px] pb-[12px] bg-white/[0.08] whitespace-pre-line
}
.faqListAnswer a{
 @apply underline
}
.direction {
  @apply w-[12px] h-[12px];
}
.pricingFooter {
  @apply lg:pt-[50px] bg-white overflow-hidden
}
