.contentContainer {
  @apply w-full bg-black pt-[40px] w-full flex items-center flex-col relative z-[31] overflow-x-hidden;
  @apply xl:pt-[200px] xl:overflow-visible;
}
.content {
  @apply w-full px-[20px] text-white-01 flex flex-col gap-[80px] items-center relative;
  @apply xl:p-0 xl:w-[1200px] xl:gap-[200px];
}
.backedContent {
  @apply w-full h-[147px] mt-[27px] flex flex-col items-center gap-[24px]  mx-auto relative;
  @apply xl:w-[576px] xl:gap-[48px] xl:mt-[55px]
}
.backedTitle {
  @apply font-[700] text-[20px] leading-[28px];
}
.backedDesc {
  @apply font-[500] text-[12px] leading-[14px] flex flex-row items-start gap-[32px] ;
  @apply xl:text-[14px] xl:leading-[17px] xl:gap-[60px]
}

.allContentContainer {
  @apply flex flex-col justify-center gap-[32px] items-center  w-full text-center;
  @apply xl:gap-[64px];
}
.allContentTitle {
  @apply font-[700] text-[20px] leading-[24px] text-center;
  @apply xl:text-[40px] xl:leading-[48px]
}
.allContentDesc {
  @apply w-full font-[400] text-[12px] leading-[14px] text-center;
  @apply xl:text-[16px] xl:leading-[19px] xl:w-[800px];
}

.background {
  @apply  w-[500px] h-[500px] absolute left-[50%] pointer-events-none;
  @apply  xl:w-[1000px] xl:h-[1000px];
  transform: translateX(-50%) ;
}
/*-----*/
.swipeContentContainer {
  @apply hidden xl:block w-full rounded-[16px] pl-[46px] py-[96px];
  background: rgba(255, 255, 255, 0.06);
}
.mobileSwipeContainer {
  @apply xl:hidden w-full rounded-[8px] flex flex-col items-center gap-[20px] p-[16px];
  background: rgba(255, 255, 255, 0.06); 
}
.swipeText {
  @apply flex flex-col gap-[16px] items-start w-full;
  @apply xl:gap-[32px] xl:w-[596px];
}
.swipeText h1 {
  @apply font-[700] text-[20px] leading-[24px] text-white-01 overflow-ellipsis line-clamp-1;
  @apply xl:text-[40px] xl:leading-[48px]
}
.swipeDescList {
  @apply flex flex-col gap-[8px] items-start;
  @appy xl:gap-[16px];
  height: auto !important;
}
.swipeDesc {
  @apply w-full flex flex-row gap-[8px] items-start font-[400] text-[12px] leading-[16px] text-white-02;
  @apply xl:text-[14px] xl:leading-[22px]
}
.mobileSwipeDesc::before {
  @apply bg-white-02 leading-[16px] block rounded-[50%] h-[5px] w-[5px] shrink-0;
  content: '';
  transform: translateY(100%)
}

.progressRing {
  @apply w-[16px] h-[16px];
  transform: rotate(-90deg);
}
.swipeImage {
  @apply w-full rounded-t-[10px] rounded-r-[10px] min-h-[150px];
  @apply xl:h-[400px] xl:w-[516px] xl:px-0 xl:rounded-[0];
  background: url('/img/contentBackground.svg') no-repeat;
  background-size: 100% auto;
}
.lottieBg {
  background: url('/img/lottieBg.svg') no-repeat;
}
.swiperContainer {
  display: grid !important;
  grid-template-columns: 596px 516px;
  @apply w-full h-[400px] overflow-hidden auto-rows-min gap-x-[40px] gap-y-[32px];
}
.swipeText {
  height: auto;
  grid-row: 1;
  grid-column: 1;
}
.swipeMore {
  height: auto;
  grid-row: 3;
  grid-column: 1;
  @apply flex flex-row items-center gap-[8px] font-[500] text-[14px] leading-[17px] text-[#6E52FF] cursor-pointer;
  @apply xl:text-[16px] xl:leading-[19px];
}

/* -----*/
.cardContainer {
  @apply w-full flex flex-col items-start gap-[20px];
  @apply xl:gap-[32px] xl:flex-row;
}
.cardContent {
  @apply w-full flex flex-col items-start p-[16px] gap-[20px] rounded-[8px];
  @apply xl:justify-between xl:items-center xl:p-[48px] xl:rounded-[16px] xl:h-[640px];
  background-color: rgba(255, 255, 255, 0.06);
}
.cardTextContent {
  @apply flex flex-col items-start gap-[16px];
}
.cardTitle {
  @apply font-[700] text-[20px] leading-[24px] text-white-01 overflow-ellipsis line-clamp-1;
  @apply xl:text-[32px] xl:leading-[39px];
}
.cardDesc {
  @apply font-[400] text-[12px] leading-[16px] text-white-02 ;
  @apply xl:text-[14px] xl:leading-[22px]
}
.cardBg {
  @apply w-full rounded-t-[10px] overflow-hidden min-h-[150px];
  @apply xl:w-[488px] xl:h-[360px] xl:rounded-[0];
  background: url("/img/cardBg.svg") no-repeat;
  background-size: 100% auto;
}

/*-----*/
.codeContentBg {
  @apply w-full h-[600px] rounded-[16px] overflow-hidden flex flex-col;
  background: url('/img/codeContentBg.svg') no-repeat;
  background-size: 100% auto;
}
.codeContentBgTab {
  @apply  flex-col gap-[12px] w-full cursor-pointer shrink-0;
  @apply xl:flex xl:gap-[16px] xl:p-[48px] xl:w-auto xl:shrink-[1]
}
.mobileCodeContentBgTab {
  transition: all 0.3s ease-in-out
}
.codeContentDesc {
  @apply font-[400] text-[14px] leading-[22px] text-white-02 overflow-ellipsis line-clamp-2
}
.codeCycle {
  @apply w-[6px] h-[6px] rounded-[50%]
}
.codeContentBgImg {
  @apply rounded-[8px] relative w-full h-full z-[0] opacity-[0.5];
  animation: zoom-in 0.3s ease-in-out;
  animation-fill-mode: forwards;
}
.mobileCodeContentBgImg {
  @apply relative w-full h-full z-[0] opacity-[0.5];
}
.codeContentL0 {
  @apply bottom-[9%] left-[10%] w-[160px] h-[110px];
  @apply xl:w-[320px] xl:h-[212px] xl:bottom-[15%] xl:left-[17.5%];
}
.codeContentL1 {
  @apply top-[44%] left-[7.5%] w-[102px] h-[84px];
  @apply xl:w-[204px] xl:h-[168px] xl:top-[36%] xl:left-[17.5%];
}
.codeContentR0 {
  @apply bottom-[10%] right-[10.5%] w-[144px] h-[110px];
  @apply xl:w-[288px] xl:h-[220px] xl:bottom-[15%] xl:right-[11%];
}
.codeContentR1 {
  @apply top-[44%] right-[-14%] w-[295px] h-[99px];
  @apply xl:w-[590px] xl:h-[198px] xl:top-[37%] xl:right-[13.5%];
}
.codeContentImg {
  @apply absolute transform;
  transition: all 0.3s ease-in-out;
}
.codeContentActiveImg {
  animation: scale-in 0.3s ease-in-out;
  transform-origin: center;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 0.5;
    transform: translateY(-16px);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.codeTitle {
  @apply font-[700] text-[16px] leading-[19px] text-white-01 overflow-ellipsis line-clamp-1;
  @apply xl:text-[22px] xl:leading-[27px]
}

/*-------*/

.solutionContainer {
  @apply flex flex-col w-full justify-center items-center gap-[20px] mt-[40px];
  @apply mt-[80px] xl:gap-[40px];
}
.solutionContent {
  @apply flex flex-col items-start gap-[20px] w-full;
  @apply xl:grid xl:gap-x-[40px] xl:gap-y-[32px];
  grid-template-columns: 50% 50%;
  grid-auto-rows: max-content;
}
.solutionItem {
  @apply flex flex-col justify-between  items-center gap-[20px] w-full;
  @apply xl:p-[24px] xl:w-[580] xl:h-full;
}
.solutionBg {
  @apply w-full rounded-[5px] min-h-[150px];
  @apply xl:rounded-[8px];
  background: url("/img/cardBg.svg") no-repeat;
  background-size: 100% auto;
}
.commPcCardImg {
  @apply hidden xl:block w-full
}
.commMobileCardImg {
  @apply block xl:hidden w-full
}

/*-------*/
.campaignContainer {
  @apply w-[358px] rounded-[28px] fixed top-[64px] left-[50%] z-[52] h-[56px] flex flex-row items-center justify-between cursor-pointer px-[16px] py-[8px];
  @apply xl:w-[600px] xl:bottom-[32px] xl:top-[auto];
  @apply font-jetBrains font-[500] text-[16px] leading-[24px] text-white-01;
  background: linear-gradient(90deg, #FC9700 0%, #34E7FF 100%);
  transform: translateX(-50%);
}