.contributeInfoContainer {
  @apply hidden xl:flex flex-col items-center gap-[40px] mb-[32px];
}

.contributeTitle {
  @apply text-[64px] leading-[72px] text-center;
}

.zhTitle {
  @apply font-sans font-[700];
}
.otherTitle {
  @apply font-[400] font-eurostile;
}

.cardsContainer {
  @apply w-full flex justify-start gap-[16px];
}
.cardContainer {
  @apply flex items-start gap-[16px] font-sans;
}

.labelStyle {
  @apply flex flex-col items-start gap-[4px];
}

.labelNumStyle {
  @apply shrink-0 text-[14px] font-[500] w-[24px] h-[24px] rounded-[50%] bg-[#EDFF7C] flex items-center justify-center text-[#1D2129] leading-[22px];
}

.labelContentStyle {
  @apply text-[16px] font-[500] text-white-01 leading-[24px] whitespace-nowrap;
}

.labelLineContainerStyle {
  @apply shrink-0 w-[64px] h-[24px] flex justify-center items-center;
}
.labelLineStyle {
  @apply shrink-0 w-[64px] h-[1px] bg-white-01;
}

.labelDescStyle {
  @apply w-full text-[12px] font-[400] text-white-04 leading-[16px];
}

.buttonGroupStyle {
  @apply flex gap-[16px] items-center;
}

.contributeButton {
  @apply p-[8px] flex items-center justify-center gap-[8px] rounded-[20px] text-[16px] font-[400] leading-[24px] cursor-pointer;
}

.contributeButtonItem {
  background: linear-gradient(90deg, #fc8e00 0%, #34e7ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.separateStyle {
  @apply w-[1px] h-[16px] bg-white-06;
}
