.contributeInfoContainer {
  @apply hidden xl:flex flex-col items-center gap-[40px];
}

.contributeTitle {
  @apply text-[64px] leading-[72px] text-center;
}

.zhTitle {
  @apply font-sans font-[700];
}
.otherTitle {
  @apply font-[400] font-eurostile;
}

.buttonGroupStyle {
  @apply flex gap-[16px] items-center;
}

.contributeButton {
  @apply p-[8px] flex items-center justify-center gap-[8px] rounded-[20px] text-[16px] font-[400] leading-[24px] cursor-pointer;
}

.contributeButtonItem {
  background: linear-gradient(90deg, #fc8e00 0%, #34e7ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.separateStyle {
  @apply w-[1px] h-[16px] bg-white-06;
}
