/**/
.pricingContent {
  @apply flex flex-col justify-center items-center gap-[16px] w-full my-0 mx-auto px-[20px];
  @apply xl:gap-[24px] lg:w-[1200px];
}
.pricingContentTitleExtra {
  @apply block rounded-[20px] py-[3px] px-[56px] text-center font-[500] text-[14px] leading-[26px] text-white-01;
  width: fit-content;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50.38%,
    rgba(255, 255, 255, 0) 100%
  );
}
.pricingContentTitle {
  @apply font-[700] text-[40px] leading-[48px] justify-self-center px-[24px] w-full text-center;
  @apply xl:text-[64px] xl:leading-[72px];
}
.cardContainerStyle {
  @apply w-full mt-[8px] flex gap-[20px] xl:gap-[40px] p-[24px] rounded-[8px]  border border-white-09;
  background: radial-gradient(
      98.85% 129.62% at 6.76% 2.06%,
      rgba(186, 193, 255, 0.03) 0%,
      rgba(220, 223, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.06);
}
