.beams {
  background-image: url('../img/beams/hero@75.jpg');
  background-size: 150rem;
}

:global(.dark) .beams {
  background-image: url('../img/beams/hero-dark@90.jpg');
  background-size: 86.125rem;
}

.span {
  font-size: 80px;
  color: #0b0c0f;
  padding-top: 200px;
}






