.publicize {
  @apply hidden xl:block bg-[#190F1E] rounded-[20px] cursor-pointer mx-auto;
  @apply text-white min-w-[400px] h-[40px] overflow-hidden px-[25px];
  @apply text-[14px] leading-[22px] font-[400] relative;
}
.publicizeStyle {
  @apply object-none object-center w-[402px] h-[124px] absolute top-[50%] left-[50%] z-[0] opacity-[0.16];
  @apply xl:w-[579px] xl:h-[179px] flex flex-row items-center justify-between;
  filter: blur(23px);
  transform: translate(-50%, -50%);
  background: linear-gradient(
    90deg,
    #008b83 0%,
    #002743 45.31%,
    #687100 91.49%
  );
}
.publicIntru {
  @apply flex items-center gap-[11px];
}
