.navContainerStyle {
  @apply flex w-full fixed top-0 z-50  bg-transparent px-[40px] py-[16px] flex items-center justify-between text-[16px] leading-[24px] font-[500];
}

.navWhiteThemeFixedStyle {
  @apply bg-[rgba(255,255,255,0.75)] backdrop-blur-[50px];
}

.navBlackThemeFixedStyle {
  @apply bg-[rgba(0,0,0,0.75)];
}

.menuContainerStyle {
  @apply flex items-center w-full justify-center gap-[8px] rounded-[24px] drop-shadow-[0_2px_16px_rgba(0,0,0,0.2)];
}

.navButtonContainerStyle {
  @apply flex items-center gap-[16px] rounded-[24px] drop-shadow-[0_2px_16px_rgba(0,0,0,0.2)];
}

.navBaseButtonStyle {
  @apply h-[40px] border-0 rounded-[8px]  px-[16px] py-[8px] cursor-pointer flex items-center justify-center;
}

.navSignUpButtonContainerStyle {
  @apply p-[1px] rounded-[20px] overflow-hidden;
  background: linear-gradient(90deg, #622bff 0%, #0be2ff 100%);
}
.navSignUpButtonStyle {
  @apply h-[38px] bg-black  px-[24px] py-[8px] rounded-[20px] cursor-pointer flex items-center justify-center text-white-01;
}

.navSignUpWhiteStyle {
  background: linear-gradient(90deg, #583dff 0%, #0bb6ff 100%);
  backdrop-filter: blur(5px);
}
