.swipeMore {
  height: auto;
  grid-row: 3;
  grid-column: 1;
  @apply flex flex-row items-center gap-[8px] font-[500] text-[14px] leading-[17px] text-[#6E52FF] cursor-pointer;
  @apply xl:text-[16px] xl:leading-[19px];
}
