.codeContentBg {
  @apply w-full h-[600px] rounded-[16px] overflow-hidden flex flex-col;
  background: url('/img/codeContentBg.svg') no-repeat;
  background-size: 100% auto;
}
.codeContentBgTab {
  @apply flex-col gap-[12px] w-full cursor-pointer shrink-0;
  @apply xl:flex xl:gap-[16px] xl:p-[48px] xl:w-auto xl:shrink-[1];
}
.mobileCodeContentBgTab {
  transition: all 0.3s ease-in-out;
}
.codeContentDesc {
  @apply font-[400] text-[14px] leading-[22px] text-white-02 overflow-ellipsis line-clamp-2;
}
.codeCycle {
  @apply w-[6px] h-[6px] rounded-[50%];
}
.codeContentBgImg {
  @apply rounded-[8px] relative w-full h-full z-[0] opacity-[0.5];
  animation: zoom-in 0.3s ease-in-out;
  animation-fill-mode: forwards;
}
.mobileCodeContentBgImg {
  @apply relative w-full h-full z-[0] opacity-[0.5];
}
.codeContentL0 {
  @apply bottom-[9%] left-[10%] w-[160px] h-[110px];
  @apply xl:w-[320px] xl:h-[212px] xl:bottom-[15%] xl:left-[17.5%];
}
.codeContentL1 {
  @apply top-[44%] left-[7.5%] w-[102px] h-[84px];
  @apply xl:w-[204px] xl:h-[168px] xl:top-[36%] xl:left-[17.5%];
}
.codeContentR0 {
  @apply bottom-[10%] right-[10.5%] w-[144px] h-[110px];
  @apply xl:w-[288px] xl:h-[220px] xl:bottom-[15%] xl:right-[11%];
}
.codeContentR1 {
  @apply top-[44%] right-[-14%] w-[295px] h-[99px];
  @apply xl:w-[590px] xl:h-[198px] xl:top-[37%] xl:right-[13.5%];
}
.codeContentImg {
  @apply absolute transform;
  transition: all 0.3s ease-in-out;
}
.codeContentActiveImg {
  animation: scale-in 0.3s ease-in-out;
  transform-origin: center;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 0.5;
    transform: translateY(-16px);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.codeTitle {
  @apply font-[700] text-[16px] leading-[19px] text-white-01 overflow-ellipsis line-clamp-1;
  @apply xl:text-[22px] xl:leading-[27px];
}
