.solutionContainer {
  @apply flex flex-col w-full justify-center items-center gap-[20px] mt-[40px];
  @apply mt-[80px] xl:gap-[40px];
}
.solutionContent {
  @apply flex flex-col items-start gap-[20px] w-full;
  @apply xl:grid xl:gap-x-[40px] xl:gap-y-[32px];
  grid-template-columns: 50% 50%;
  grid-auto-rows: max-content;
}
.solutionItem {
  @apply flex flex-col justify-between  items-center gap-[20px] w-full;
  @apply xl:p-[24px] xl:w-[580] xl:h-full;
}
.solutionBg {
  @apply w-full rounded-[5px] min-h-[150px];
  @apply xl:rounded-[8px];
  background: url('/img/cardBg.svg') no-repeat;
  background-size: 100% auto;
}
