.mainContentTitle {
  @apply font-[700] text-[24px] leading-[26px] text-white-01 text-center;
  @apply xl:text-[48px] xl:leading-[58px];
  background: linear-gradient(90deg, #a874ff 8.9%, #e65fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
